		body {
			margin: 0;
			padding: 0;
		    font-family: 'Merriweather', serif;
			overflow-x: hidden;
		}
        .one, .two {
			display: inline-block;
			height: 100vh;
			text-align: center;
		}
		.one {
			background:
				linear-gradient(
				rgba(105, 105, 105, 0.1),
				rgba(105, 105, 105, 0.1)
				),
				url('new-york-city.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			color: #fff;
		}
		.one h1 {
			font-size: 6em;
			padding-top: 32%;
			font-weight: bold;
			color: dodgerblue;
		}
		.two {
			color: #fff;
			background-color: #323232;
		}
		.two ul {
			margin-top: 0;
			margin-bottom: 10px;
			left: 50%;
			z-index: 100;
		}
		.two ul li {
			display: inline-block;
			padding-top: 30px;
			padding-left: 30px;
			padding-right: 30px;
			font-weight: bold;
		}
		.two ul li a:hover {
			color: lightgrey;
		}
		.two ul li a {
			color: #fff;
			text-decoration: none;
		}
		.two h1 {
			padding-top: 30%;
		}
		.two button {
			line-height: 55px;
			padding: 0;
			border-color: deepskyblue;
		}
		button a {
			display: block;
			text-decoration: none;
			color: #fff;
			width: 100%;
			height: 100%;
		}
		button a:hover {
			list-style-type: none;
			text-decoration: none;
		}
		#about {
			height: 100vh;
			color: #444;
			background-color: #f1f1f1;
		}
		#about img {
			display: block;
			margin: 0 auto;
			border-radius: 50%;
			border: 2px solid #000;
			position: relative;
			top: 5%;
		}
		#about h1 {
			text-align: center;
			font-size: 3em;
			position: relative;
			color: deepskyblue;
			top: 8%;
		}
		.about-me {
			width: 45%;
			margin: 0 auto;
			position: relative;
			top: 10%;
		}
		.about-me p {
			line-height: 2;
			font-size: 1.5em;
		}
		#portfolio {
			background-color: skyblue;
			height: 100vh;
			background-color: #323232;
		}
		#portfolio h1 {
			color: #fff;
			text-align: center;
			font-size: 3em;
			padding-top: 5%;
			margin-top: 0;
		}
		#portfolio .row {
			height: 70%;
			position: relative;
			top: 10%;
		}
		#portfolio .row img {
			border-radius: 50%;
			padding-left: 15px;
		}
		.block {
			width: 48%;
			margin: 0 auto;
		}
		.living-giants {
			height: 100%;
			display: inline-block;
			/*margin-left: 26.5;*/
		}
		.living-giants .living-giants-text {
			height: 50%;
			display: block;
			text-align: center;
			color: #fff;
		}
		.vintage-mcdonalds {
			height: 100%;
			display: inline-block;
			width: 300px;
		}
		.vintage-mcdonalds .vintage-mcdonalds-text {
			height: 50%;
			display: block;
			text-align: center;
			color: #fff;
		}
		.web-developer-quiz {
			height: 100%;
			display: inline-block;
			width: 300px;
		}
		.web-developer-quiz .web-developer-quiz-text {
			height: 50%;
			display: block;
			text-align: center;
			color: #fff;
		}
		#contact {
			background-color: #f5f5f5;
			height: 50vh;
		}
		#contact .row {
			height: 100%;
		}
		.contact-me {
			height: 100%;
		}
		.contact-me h1 {
			text-align: center;
			margin-top: 5%;
		}
		.contact-me h2 {
			padding-left: 10%;
			padding-right: 10%;
		}
		.right {
			height: 100%;
		}
		form {
			width: 550px;
			height: 90%;
			position: relative;
			top: 5%;
		}
		input {
			display: block;
			width: 100%;
			height: 50px;
			margin-bottom: 10px;
		}
		textarea {
			display: block;
			width: 100%;
			height: 55%;
		}
		button {
			width: 100px;
			height: 55px;
			margin-top: 10px;
			background-color: deepskyblue;
			border-color: deepskyblue;
			color: #fff;
			font-weight: bold;
		}
		footer {
			height: 50vh;
			background: slategrey;
		}
		footer ul {
			text-align: center;
			list-style-type: none;
			position: relative; 
			top: 30%;
			font-family: 3em;
		}
		footer ul li {
			display: inline-block;
			padding: 50px;
			color: white;
		}
		footer ul li a {
			color: white;
		}
		footer p {
			display: block;
			text-align: center;
			position: relative;
			top: 25%;
			color: #fff;
		}
/*media queries*/
@media screen and (max-width: 400px) {
		.one {
			background-image: url('new-york-city-mobile.jpg');
			background-size: cover;
			height: 100vh;
			color: #fff;
		}
		.one h1 {
			text-align: center;
			position: relative;
			top: 10%;
			font-size: 3em;
			font-weight: bold;
			color: dodgerblue;
		}
		.one h2 {
			text-align: center;
			position: relative;
			top: 10%;
			font-size: 2em;
			font-weight: bold;
		}
		.two {
			height: 75vh;
		}
		.two ul {
			display: none;
		}
		.two h1 {
			font-size: 2em;
		}
		#about {
			height: auto;
		}
		#about img {
			display: block;
			width: 200px;
			height: 200px;
			margin: 0 auto;
			position: relative;
			top: 40px;
		}
		.about-me {
			width: 100%;
		}
		#about h1 {
			padding-top: 40px;
			font-size: xx-large;
		}
		.about-me p {
			margin: 0;
			padding: 5px;
			line-height: normal;
		}
		.about-me p:last-child {
			padding-bottom: 50px;
		}
		#portfolio {
			height: auto;
		}
		#portfolio h1 {
			font-size: xx-large;
		}
		#portfolio .block {
			width: 100%;
			padding: 0;
		}
		#portfolio .living-giants, .living-giants-text, .vintage-mcdonalds, .vintage-mcdonalds-text, .web-developer-quiz, .web-developer-quiz-text {
			width: 100%;
			height: 100%;
			padding:0;
			margin: 0;
		}
		#portfolio .block img:first-child {
			background-image: url('living-giants-mobile.png');
			padding: 0;
			width: 60%;
			height: 200px;
			position: relative;
			left: 20%;
		}
		#contact {
			height: auto;
		}
		.contact-me h1 {
			font-size: xx-large;
		}
		.contact-me h2 {
			padding-left: 5px;
			padding-right: 5px;
			font-size: 1.5em;
			padding-bottom: 20px;
		}
		.right .em {
			width: 95%;
			display: block;
			margin: 0 auto;
		}
		.right textarea {
			height: 125px;
		}
		.right button {
			display: block;
			margin: 10px auto;
		}
		footer {
			height: auto;
		}
		footer ul {
			padding: 0;
		}
		footer ul li {
			padding: 0;
			display: inline-block;
			padding-top: 75px;
			padding-bottom: 5px;
		}
		footer p {
			margin: 0;
			padding-bottom: 55px;
		}
}
@media screen and (max-width: 767px) {
.one {
			background-image: url('new-york-city-mobile.jpg');
			background-size: cover;
			height: 100vh;
			color: #fff;
		}
		.one h1 {
			text-align: center;
			position: relative;
			top: 10%;
			font-size: 3em;
			font-weight: bold;
			color: dodgerblue;
		}
		.one h2 {
			text-align: center;
			position: relative;
			top: 10%;
			font-size: 2em;
			font-weight: bold;
		}
		.two {
			height: 75vh;
		}
		.two ul {
			display: none;
		}
		.two h1 {
			font-size: 2em;
		}
		#about {
			height: auto;
		}
		#about img {
			display: block;
			width: 200px;
			height: 200px;
			margin: 0 auto;
			position: relative;
			top: 40px;
		}
		.about-me {
			width: 100%;
		}
		#about h1 {
			padding-top: 40px;
			font-size: xx-large;
		}
		.about-me p {
			margin: 0;
			padding: 5px;
			line-height: normal;
		}
		.about-me p:last-child {
			padding-bottom: 50px;
		}
		#portfolio {
			height: auto;
		}
		#portfolio h1 {
			font-size: xx-large;
		}
		#portfolio .block {
			width: 100%;
			padding: 0;
		}
		#portfolio .living-giants, .living-giants-text, .vintage-mcdonalds, .vintage-mcdonalds-text, .web-developer-quiz, .web-developer-quiz-text {
			width: 100%;
			height: 100%;
			padding:0;
			margin: 0;
		}
		#portfolio .block img:first-child {
			background-image: url('living-giants-mobile.png');
			padding: 0;
			width: 60%;
			height: 200px;
			position: relative;
			left: 20%;
		}
		#contact {
			height: auto;
		}
		.contact-me h1 {
			font-size: xx-large;
		}
		.contact-me h2 {
			padding-left: 5px;
			padding-right: 5px;
			font-size: 1.5em;
			padding-bottom: 20px;
		}
		.right .em {
			width: 95%;
			display: block;
			margin: 0 auto;
		}
		.right textarea {
			height: 125px;
		}
		.right button {
			display: block;
			margin: 10px auto;
		}
		footer {
			height: auto;
		}
		footer ul {
			padding: 0;
		}
		footer ul li {
			padding: 0;
			display: inline-block;
			padding-top: 75px;
			padding-bottom: 5px;
		}
		footer p {
			margin: 0;
			padding-bottom: 55px;
		}
}
